img {
    width: 400px;
    height: 300px;
    display: block;
    margin-bottom: 40px;
}

div {
    width: 40%;
    margin: auto;
}

hr {
    width: 400px;
    margin: 25px 0;
}

button {
    width: 160px;
    height: 45px;
    font-size: 15px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

input {
    width: 200px;
    font-size: 15px;
    padding: 10px;
}

.datepicker {
    margin-top: 0;
    margin-bottom: 0;
}

#edit-view {
    display: none;
}